
# Table dimensions 
# both vars must be set, numbers <= 1
#TABLE_HEIGHT=8
#TABLE_WIDTH=6

# Read input from file
# if not set, can enter commands from CLI
FILENAME = "docker-mount/fixtures/explore_table_boundaries.txt"
 
# Capitalise input before parsing as commands and arguments
# when true, allows for case insensitive parsing of input
#CAPITALISE_COMMANDS_AND_ARGS=true

#EXIT_ON_COMMAND_PARSER_ERROR=true